/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-bg: #253334;
  --color-fg: #ffffff;
  --color-bg-card: #f7f3f0;
  --color-fg-card: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-fg);
  background: var(--color-bg);
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
